# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
jobs:
  say-hello:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/guides/execution-managed/executor-intro/ & https://circleci.com/docs/reference/configuration-reference/#executor-job
    machine: # executor type
      image: ubuntu-2204:edge
    #resource_class: large medium
    resource_class: medium
    # Add steps to the job
    # See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#steps-overview & https://circleci.com/docs/reference/configuration-reference/#steps
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: "Setup env"
          command: |
            export DEBIAN_FRONTEND=noninteractive
            export APT_LISTCHANGES_FRONTEND=none
            export NEEDRESTART_MODE=a
            sudo apt-get update -y
            #sudo apt-get install -y bc bison bsdmainutils build-essential ccache cgpt clang \
            cron curl flex g++-multilib gcc-multilib git git-lfs gnupg gperf imagemagick \
            kmod lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool \
            libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 \
            libxml2-utils lsof lzop maven openjdk-8-jdk pngcrush procps python3 \
            python-is-python3 rsync schedtool squashfs-tools wget xdelta3 xsltproc yasm zip \
            zlib1g-dev rclone zram-tools btrfs-progs
            sudo apt-get install -y zram-tools btrfs-progs rclone
            sudo apt-get clean -y
            mkdir -p ~/bin/
            curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
            chmod a+x ~/bin/repo
            # Configure Git & LFS
            git config --global user.email "awawa42@example.com"
            git config --global user.name  "awawa42"
            git lfs install
            git config --global trailer.changeid.key "Change-Id"
            # set up btrfs
            SPACE_FREE=$(findmnt --first-only --noheadings --output AVAIL --bytes --target .)
            SPACE_RESERVE=$(( 2 \<< 30 ))
            LB_SIZE=$(( $SPACE_FREE - $SPACE_RESERVE ))
            fallocate -l $LB_SIZE loopback.bin
            LB_DEV=$(sudo losetup --show -f loopback.bin)
            sudo mkfs.btrfs -m single $LB_DEV
            mkdir btrfs-mnt
            sudo mount -t btrfs -o rw,noatime,compress=zstd $LB_DEV btrfs-mnt
            sudo chown $USER:$USER btrfs-mnt
            # setup zram
            sudo sed -i -e 's/#ALGO=.*/ALGO=lz4/g' -e 's/#PERCENT=.*/PERCENT=500/g' /etc/default/zramswap
            cat /etc/default/zramswap
            sudo systemctl restart zramswap.service

      - run:
          name: "Say hello"
          command: |
            echo Hello, World!
            pwd
            lsblk
            df -Th
            free -h
            cat /proc/swaps
 
      - run:
          name: "test upload"
          command: |
            cd btrfs-mnt
            fallocate -l 3m test.bin
            gpg --batch --passphrase 1234 -c -z 0 --output test2.bin test.bin
            rclone copy *.bin mys3:/dav/ci/

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/guides/orchestrate/workflows/ & https://circleci.com/docs/reference/configuration-reference/#workflows
workflows:
  say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - say-hello:
          context: "1"
