# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      - name: install zsh
        run: |
          sudo apt-get update -y
          sudo apt-get install zsh -y
          
      - uses: awawa42/maximize-build-space@master
        with:
          root-reserve-mb: 1024
          swap-size-mb: 65535
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      # Runs a single command using the runners shell
      - name: disk info
        run: sudo bash -c "set -x;lsblk;df -hT"

      # Runs a set of commands using the runners shell
      - name: more info
        run: |
          grep '' -r /sys/block/sd*/queue/rotational
          grep '' -r /etc/apt/**/*.list
          free -m
          lscpu
          echo AA=1 >>"$GITHUB_ENV"
          export
  
      - name: dpkg info
        shell: zsh -e {0}
        run: |
          echo "AA=$AA"
          ls -la /mnt
          [ -r /mnt/DATALOSS_WARNING_README.txt ] && cat /mnt/DATALOSS_WARNING_README.txt
          sudo dpkg -l|grep zram || echo no zram packages
          sudo dpkg -l|grep btrfs || echo no btrfs packages
          true
          mkdir dpkginfo
          sudo dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -nr|head -n30 > dpkginfo/dpkg.lst
          echo '' >dpkginfo/dpkg-files.lst
          for s p in $(cat dpkginfo/dpkg.lst);do
            echo "$(($s>>10))MB $p" >>dpkginfo/dpkg-files.lst
            echo '=======================================================================' >>dpkginfo/dpkg-files.lst
            dpkg --listfiles $p  >>dpkginfo/dpkg-files.lst
            echo '=======================================================================' >>dpkginfo/dpkg-files.lst
          done
          
      - name: Run dust
        run: |
          wget https://github.com/bootandy/dust/releases/download/v1.2.4/du-dust_1.2.4-1_amd64.deb
          sudo apt install -y ./du-dust_1.2.4-1_amd64.deb
          dust -x -n 300 / >>dpkginfo/dust.txt

      - uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: dpkginfo/
